# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae

# Not-In-Use Issue Template
.github/ISSUE_TEMPLATE/*.disabled

# Private Key & Password
.tauri/novacl.key
.tauri/novacl.password
.env
.env.*
!.env.example

# Contents for MS Store
msstore/